body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner,
.kuliah {
    background-color: rgb(155, 31, 31);
}

.medsos {
    display: inline-flex;
}

.medsos li {
    list-style: none;
}

.medsos li a {
    width: 40px;
    height: 40px;
    background: rgb(47, 84, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.medsos li a:hover {
    background-color: rgb(71, 113, 158);
}

.copy {
    width: 100%;
    background-color: rgb(71, 113, 158);
    padding: 8px 100px;
    text-align: center;
    color: black;
}